<% if flash[:notice] %>
  <h2><%= flash.notice %></h2>
<% end %>

<h1><%= @gallery.name %></h1>

<h3><u>Located At</u></h3>
<p><%= "#{@gallery.city}, #{@gallery.state}, #{@gallery.zip}" %></p>

<p><%= @gallery.description %></p>

<h3><u>Paintings</u></h3>
<ul>
  <% @paintings.each do |painting| %>
    <li><%= "#{painting.title}, #{painting.artist}, #{painting.year}, #{painting.created_at.strftime("%B %d %Y")}" %></li>
  <% end %>
</ul>

<%= link_to 'Add a Painting', new_gallery_painting_path(@gallery)%><br>

<%= link_to 'Back', galleries_path %>
