<h1>New Wing Order</h1>
<%= form_for @wing_order do |f| %>

  <div class='row'>
    <%= f.label :customer_name, 'Full Name' %>
    <%= f.text_field :customer_name %>
  </div>

  <div class='row'>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class='row'>
    <%= f.label(:state) %>
    <%= f.select(:state, options_for_select(@state_collection)) %>
  </div>

  <div class='row'>
    <%= f.label :quantity %>
    <%= f.collection_radio_buttons(:quantity, @quantity_collection, :first, :last) %>
  </div>

  <div class='row'>
    <%= label_tag(:ranch_dressing, 'Add Ranch Dressing') %>
    <%= check_box_tag(:ranch_dressing) %>
  </div>

  <div class='row'>
    <%= f.label :flavor_ids %>
    <%= f.collection_check_boxes(:flavor_ids, @flavor_collection, :id, :name) %>
  </div>

  <div class='row'>
    <%= f.submit 'Place Order'%>
  </div>
<% end %>
