<% if flash[:notice] %>
  <h2><%= flash.notice %></h2>
<% end %>

<% if review.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h3>

    <ul>
    <% review.errors.full_messages.each do |message| %>
    <% message = 'Rating must be between 1 - 5' if message == "Rating is not included in the list"%>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [restaurant, review] do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %><br>
  <%= f.label :body, 'Review' %>
  <%= f.text_field :body %><br>
  <%= f.submit "Add Review" %>
<% end %>
